.carousel-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  /* height: 45vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding: 70px 30px 70px 30px !important;
}

.swiper2 .swiper-container {
  padding-bottom: 35px !important;
}
.swiper3 .swiper-container {
  padding-top: 35px !important;
}

/* .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
.slide-heading {
  font-weight: bold;
  padding: 1rem;
}
.slide-date {
  font-size: 0.75rem;
  color: #898989;
  padding: 1rem;
}
.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 60%; */
  height: 10em;
  object-fit: cover;
  /* border-radius: 10px 10px 0 0; */
}

.swiper1 .swiper-slide img {
  border-radius: 20px 20px 0 0;
}
.swiper4 .swiper-pagination-bullet {
  width: 4px !important;
  height: 4px !important;
  background: #d8d8d8 !important;
  opacity: 1 !important;
  border-radius: 50% !important;
  /* border: 1px solid #898989 !important;
    background-clip: content-box !important; */
  padding: 2px !important;
  box-sizing: initial;
}

.swiper4 .swiper-pagination-bullet-active {
  width: 7px !important;
  height: 7px !important;
  background: #e89f71 !important;
  border: 1px solid #e89f71 !important;
  background-clip: content-box !important;
  padding: 4px !important;
  /* transition: all 0.3s; */
}

.swiper4 .swiper-pagination-bullets {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper1 .swiper-pagination-bullets {
  display: none;
}

.swiper4 .swiper-slide {
  /* border-radius: 10px !important; */
  background: white;
  color: black;
}

.swiper1 .swiper-slide {
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.swiper-button-next,
.swiper-button-prev {
  top: 50% !important;
  width: 15px !important;
  height: 15px !important;
  color: #e89f71 !important;
  /* background: #1b95e0 !important; */
  background: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  padding: 20px;
  border-radius: 50%;
  box-sizing: initial;
  opacity: 0.5;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper1-slide-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0 15px;
}

.swiper1-slide-detail {
  padding: 15px;
}

.swiper1-item-detail {
  font-size: 12px;
  width: 70%;
}

.swiper1-item-heading {
  color: #2e266f;
  font-size: 20px;
  font-weight: bold;
}

.swiper1-item-rate,
.swiper1-item-rate-green {
  color: #fd6e6a;
  font-size: 20px;
  font-weight: bold;
}

.swiper1-item-rate-green {
  color: #35cd8c;
}

.swiper1-item-detail {
  color: #707070;
}

.tips-and-tricks {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #3a3a3a;
}

.explore-div {
  text-align: center;
}

.explore-title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #3a3a3a;
}

.explore-para {
  font-size: 1rem;
  color: #707070;
}

/* .swiper0 .main-container{
    width: 100% !important; 
  } */
/* .swiper0 .swiper-slide{
    margin-right: 2.5% !important;
    width: 20% !important;
  }

  .swiper0 .swiper-slide-active{
    width: 30% !important;
    transition: all 0.5s ease;
  } */
/* .img-gradient{
    position:relative;
    display:inline-block;
  }
  .img-gradient::after{
    content:"" !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    display: inline-block !important;
    background: linear-gradient(#FBA442,#FFF) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); 
  }
  .img-gradient img{
    display: block;
  } */
.swiper0 .swiper-container {
  padding-bottom: 0 !important;
}

.swiper0 img {
  border-radius: 0 !important;
  height: 50vw !important;
}

.swiper0 .swiper-button-next,
.swiper0 .swiper-button-prev {
  display: none;
}

.swiper0-matter {
  position: absolute;
  color: #fff;
  font-size: 2em;
  font-family: "Nunito Sans";
  top: 0.2em;
  left: 0.4em;
}

.trending-swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending-swiper .swiper-button-next,
.trending-swiper .swiper-button-prev {
  display: none;
}

.trending-swiper {
  width: 95%;
  margin-top: 70px;
  padding: 30px 0;
  justify-content: space-around !important;
  background: linear-gradient(to right, rgb(255, 226, 255, 0.5) 85%, #fff 15%);
}
.trending-swiper .swiper-container {
  padding: 0 !important;
}
.trending-swiper .main-container {
  width: 60%;
}
.trending-matter-container {
  width: 30%;
}

.trending-swiper .swiper-pagination-bullets {
  justify-content: flex-start !important;
  width: 49% !important;
  right: 0 !important;
  left: auto !important;
}

.trending-swiper .swiper-slide img {
  height: 25vw !important;
}

.trending-swiper .swiper-slide-active img {
  height: 30vw !important;
}

.trending-heading {
  color: #3a3a3a;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Nunito Sans";
  padding-bottom: 10px;
}

.trending-link a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
  background: #e89f71;
}

.trending-link a:hover {
  color: #fff;
  background: purple;
  transition: all 0.5s ease;
}

.trending-desc {
  color: #616161;
  font-size: 0.9em;
  padding-bottom: 20px;
}

.trending-matter-container {
  padding-left: 2em;
}

@media screen and (min-width: 574px) {
  .swiper-slide img {
    height: 16vw;
  }
  .swiper0 img {
    height: 30vw !important;
  }
  .swiper0-matter {
    font-size: 2em !important;
  }
}
@media screen and (min-width: 768px) {
  .swiper4 .swiper-slide-next {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.5s ease-in-out;
    /* transform: scale(1.1); */
  }
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 1;
  }
  .main-container {
    width: 90%;
  }
  .trending-swiper .swiper-pagination-bullets {
    width: 66% !important;
  }
  .trending-matter-container {
    padding-left: 3em;
  }
}

@media screen and (min-width: 1192px) {
  .trending-swiper .swiper-pagination-bullets {
    bottom: 25px !important;
  }
  .trending-matter-container {
    padding-left: 5em;
  }
}

@media screen and (max-width: 767px) {
  .swiper4 .swiper-slide {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (max-width: 576px) {
  .trending-matter-container {
    padding-left: 1em;
  }
  .trending-swiper .swiper-pagination-bullets {
    bottom: 0px !important;
  }
  .trending-swiper {
    background: rgba(255, 226, 255, 0.5) !important;
  }

  .carousel-holder {
    display: block !important;
  }

  .trending-matter-container {
    width: 100% !important;
  }

  .trending-swiper .main-container {
    width: 95% !important;
    padding-top: 30px !important;
    margin: 0 2.5% !important;
  }
}
